.principal {
    position: relative;
    margin-bottom: 50px;
}

.principal h1 {
    position: absolute;
    top: -50px;
    left: 10px;
    margin: 0 0 20px 0;
    padding: 0;
}

.principal h2 {
    position: absolute;
    top: 50px;
    right: 70px;
}

@media (max-width: 932px) {
    .principal h1 {
        font-size: 150%;
    }
    .principal h2 {
        font-size: 120%;
        top: 180px;
    }
}

@media (max-width: 934px) {
    .principal h2 {
        font-size: 120%;
        top: 180px;
    }
}



.principal p {
    margin-top: 50px;
}

/*実行委員長*/

.chair {
    position: relative;
}

.chair h1 {
    position: absolute;
    top: -60px;
    left: 10px;
    margin: 0;
    padding: 0;
}

.chair h2 {
    position: absolute;
    top: 50px;
    right: 70px;
}

@media (max-width: 932px) {
    .chair h1 {
        font-size: 150%;
    }
    .chair h2 {
        font-size: 120%;
        top: 160px;
    }
}

@media (max-width: 934px) {
    .chair h2 {
        font-size: 120%;
        top: 160px;
    }
}


.chair p {
    margin-top: 150px;
}
